# Minimal dependencies for Flask app only
fastapi==0.121.2
uvicorn[standard]
jinja2
python-dotenv
pyyaml

# ML Core
numpy==1.26.4
pandas==2.2.2
scikit-learn==1.5.1
scipy==1.14.0
nltk==3.8.1

# MLflow (use the version from your project)
mlflow==2.15.0
dagshub==0.3.34

# AWS
boto3
botocore

# Monitoring
prometheus_client

# Utilities
dill